body {
    margin: 0;
    background-color: none !important;
    font-family: 'Times New Roman', Times, serif !important;
}

.navbar .container {
    justify-content: center !important;
}

.navbar-brand img {
    height: 150px;
}

.prompt{
    width: 70%;
}

.prompt textarea{
    border: 2px solid black;
}

.prompt textarea {
    justify-content: center !important;
}

.form-control {
    text-decoration: none !important;
    border-radius: 0% !important;
    box-shadow: none !important;
}

.form-control:focus {
    transition: none !important;
    text-decoration: none !important;
    border: 2px solid black !important;
    box-shadow: none !important;
}
.prompt button{
    background: white !important;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px !important;
    width: 20%;
}
.prompt button:hover{
    background: #C8102E !important;
    color: white !important;
    text-decoration: none;
    border: 2px solid black;
    
}


.generate_story,
.summary {
    border: 1px solid black;
}

.generate_story p, .summary p {
    text-align: center;
    margin: 0;
}

.generate_story img, .summary img {
    width: 50px;
    height: 50px;
}

#id_gen_story:hover,
#id_sum_story:hover {
    cursor: pointer;
    border: 1px solid #C8102E;
}
#id_gen_story{
    background: white !important;
    text-decoration: none;
}