<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  {% block head %} {% endblock %}
</head>

<body>

  

  <div class="container d-flex justify-content-center">
    <!-- As a link -->
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="#">
        <img src="../static/images/logoFinal.png" alt="">
      </a>
    </nav>
  </div>

  <div class="container">
    {% block body %}
    {% endblock %}
  </div>


  <script>
    const storyContent = document.getElementById('story_content');
    const form_create_story = document.querySelector('#generate_story_form');
    const form_create_comic = document.querySelector('#generate_comic_form');
    const prompt = document.getElementById("prompt");
    const comic_rqst_div = document.getElementById("comic_request");

    const generate_story_form = document.getElementById('gen_story_btn');
    const summarise_story_form_btn = document.getElementById('summarise_story_btn');
    
  
    form_create_story.addEventListener('submit', async (e) => {
      e.preventDefault();

      const input_value = document.getElementById('input_value').value;
      prompt.classList.remove('d-flex');
      prompt.classList.add('d-none');

      const response = await fetch('/generate/story', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `input_value=${encodeURIComponent(input_value)}`
        
      });
      console.log(typeof(`input_value=${encodeURIComponent(input_value)}`));
      const reader = response.body.getReader();
      console.log(reader);
      let decoder = new TextDecoder();
      let partialChunk = '';
      while (true) {
        const { done, value } = await reader.read();
        if (done) {
          comic_rqst_div.classList.remove("d-none");
          comic_rqst_div.classList.add("d-flex");
          break;
        }
        const chunk = decoder.decode(value, { stream: true });
        partialChunk += chunk;
        storyContent.innerHTML = partialChunk;
      }
    });

    form_create_comic.addEventListener('submit', async(e) =>{
      e.preventDefault();
      generated_story = storyContent.innerHTML;

      var xhr = new XMLHttpRequest();
        xhr.open('POST', '/generate/story/comic', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE  && xhr.status === 200) {
                // Handle the response from the Flask app if needed
                // console.log(xhr.responseText);
                url_img = xhr.responseText
                document.getElementById("gen_img").src= url_img;
                // window.location.href = '/generate_comic';
            }
        };
        xhr.send(JSON.stringify({ content: generated_story }));

    })

  </script>
</body>

</html>