{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}

<div id="prompt" class="d-flex justify-content-center mt-5">
    <div class="mb-3 prompt">
      <form id="generate_story_form" action="/" method="post">
        <!-- <label for="input_value">Input Value:</label> -->
        <textarea type="text" class="form-control main_prompt_area shadow-none" id="input_value" name="input_value"
          placeholder="Write me a story about...(ex. ghosts, a lost cat, etc.)" rows="1" required></textarea>
        <center>
          <button id="button" class="mt-3" type="submit">Submit</button>
        </center>
      </form>
    </div>
  </div>

    <div id="story_content">
        <!-- Story content will be loaded here -->
    </div>

    <div id= "comic_request" class="d-none justify-content-center mt-5">
        <form id = "generate_comic_form" action="/generate_comic" method="post">
          <button id="button_comic" class="mt-3" type="submit">Generate Comic</button>
        </form>
      </div>
      
      <div>
        <img id="gen_img" src="" alt="">
      </div>
<!-- <div id="generate_story" class="mt-5 d-flex justify-content-center options gap-4">
    
    <form action="/generate_story" method="post">
        <button type = "submit" id="id_gen_story" class="generate_story p-4">
            <div class="d-flex justify-content-center">
                <img src="../static/images/create.png" alt="">
            </div>
            <br>
            <p>Tell me a story</p>
        </button>
    </form>

    

    <div id="id_sum_story" class="summary p-4">
        <div class="d-flex justify-content-center">
            <img src="../static/images/book.png" alt="">
        </div>
        <br>
        <p>Let's make it short</p>
    </div>
</div> -->




<!-- {% for item in data %}
<li>{{ item }}</li>
{% endfor %}
<br>
<h2>Generated Image:</h2>


{% for item in img_urls %}
<img src="{{ item }}" alt="Generated Image">
{% endfor %} -->

{% endblock %}