{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}

<div id="prompt" class="d-flex justify-content-center mt-5">
  <div class="mb-3 prompt">
    <form id="generate_story_form" action="/" method="post">
      <!-- <label for="input_value">Input Value:</label> -->
      <textarea type="text" class="form-control main_prompt_area shadow-none" id="input_value" name="input_value"
        placeholder="Write me a story about...(ex. ghosts, a lost cat, etc.)" rows="1" required></textarea>
      <center>
        <button id="button" class="mt-3" type="submit">Submit</button>
      </center>
    </form>
  </div>
</div>

<div id="story_content"></div>

<div id="comic_request" class="d-none justify-content-center mt-5">
  <form id="generate_comic_form" action="/generate_comic" method="post">
    <button id="button_comic" class="mt-3" type="submit">Generate Comic</button>
  </form>
</div>

<div>
  <img id="gen_img" src="" alt="">
</div>
{% endblock %}