{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div class="container mt-5 options">
    <div class="d-flex justify-content-center gap-4">
        <form id="gen_story" class="form_gen_story d-flex" action="/generate/story">
            
            <button>
                <div class="d-flex justify-content-center">
                    <img src="../static/images/book.png" alt="">
                </div>
                <p>Generate Story</p>
            </button>
        </form>

        <form id="summarise_story" class='form_sum_story d-flex' action="/generate/summary">
            <button>
                <div class="d-flex justify-content-center">
                    <img src="../static/images/create.png" alt="">
                </div>
                <p>Summaries Story</p> 
            </button>
        </form>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <h4>About us</h4>
    </div>
    <div class="d-flex justify-content-center">
        <div class="abt_us">
            <p>Goodnight is an application that uses AI to generate bed time stories for kids</p>
            
            <p>
               <b>Generate Story:</b> will create a story based on the subject provided by user along with a visual comic like poster
               <br>
                <b>Summaries Story:</b> where user will be able to share their story and the AI will summaries the story and generate comic based on the story. 

            </p>
        </div>
    </div>
    
</div>

{% endblock %}